Content/* linguist-detectable = false
Binaries/* linguist-detectable = false
.vscode/* linguist-detectable = false
Config/* linguist-detectable = false
Intermediate/* linguist-detectable = false
Intermediate/*.cs linguist-detectable = false
Intermediate/*.c linguist-detectable = false
Intermediate/*.h linguist-detectable = false
Saved/* linguist-detectable = false
Intermediate/Build/Win64/UnrealGame/Development/PlatformerPractice/* linguist-detectable = false
